In [ ]:
import pandas as pd
data1= pd.read_excel('/content/Formated_brushing_R1 - Copy.xlsx')
print(data1)

      Counter  x_wa  y_wa  z_wa  x_wg  y_wg  z_wg  x_ia  y_ia  z_ia  x_ig  \
0           1  1.05 -1.20 -9.71   0.5   0.1  -0.2 -3.78 -2.49  9.41   0.7
1           2  1.37 -2.20 -9.52   0.1  -0.1  -0.2 -3.77 -2.48  9.36   0.2
2           3  1.37 -2.20 -9.52  -0.7  -0.6  -0.3 -3.80 -2.48  9.34  -0.2
3           4  1.35 -2.17 -9.49  -0.7  -0.3  -0.4 -3.82 -2.50  9.33  -0.6
4           5  1.31 -2.13 -9.48  -1.0   0.0  -0.4 -3.84 -2.52  9.32  -0.3
...       ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
8216     8217  1.00 -1.44 -9.69  -1.9   0.5  -0.2 -3.10 -3.56  9.22   0.1
8217     8218  1.01 -1.46 -9.68  -1.5   0.0  -0.3 -3.09 -3.58  9.23   0.4
8218     8219  0.99 -1.40 -9.66  -1.0   0.0  -0.5 -3.08 -3.58  9.21   1.2
8219     8220  1.01 -1.39 -9.65   1.1  -0.5  -0.2 -3.09 -3.58  9.24   0.7
8220     8221  1.02 -1.48 -9.69   1.6  -0.4  -0.4 -3.09 -3.55  9.29   1.5

      y_ig  z_ig  CounterMicro     TimeStamp  Label
0     -0.4   0.0             1  1.530613e+12       0
1     -0.4  -0.3             2  1.530613e+12       0
2      0.0  -0.2             3  1.530613e+12       0
3      0.0  -0.2             4  1.530613e+12       0
4      0.0  -0.4             5  1.530613e+12       0
...    ...   ...           ...           ...     ...
8216  -2.3   0.5            25  1.530613e+12       0
8217  -2.1   0.5            26  1.530613e+12       0
8218  -1.6  -0.1            27  1.530613e+12       0
8219  -1.9   0.0            28  1.530613e+12       0
8220  -1.0   0.2            29  1.530613e+12       0

[8221 rows x 16 columns]

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from matplotlib import pyplot
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
# x = data1.drop(['TimeStamp','CounterMicro','Counter'],axis=1)
# x
# y = data1.TimeStamp,data1.Counter,data1.CounterMicro
# y

cols = [1,2,3,4,5,6,7,8,9,10,11,12]
x = pd.read_excel('/content/Formated_brushing_R1 - Copy.xlsx', usecols=cols)
x

      x_wa  y_wa  z_wa  x_wg  y_wg  z_wg  x_ia  y_ia  z_ia  x_ig  y_ig  z_ig
0     1.05 -1.20 -9.71   0.5   0.1  -0.2 -3.78 -2.49  9.41   0.7  -0.4   0.0
1     1.37 -2.20 -9.52   0.1  -0.1  -0.2 -3.77 -2.48  9.36   0.2  -0.4  -0.3
2     1.37 -2.20 -9.52  -0.7  -0.6  -0.3 -3.80 -2.48  9.34  -0.2   0.0  -0.2
3     1.35 -2.17 -9.49  -0.7  -0.3  -0.4 -3.82 -2.50  9.33  -0.6   0.0  -0.2
4     1.31 -2.13 -9.48  -1.0   0.0  -0.4 -3.84 -2.52  9.32  -0.3   0.0  -0.4
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
8216  1.00 -1.44 -9.69  -1.9   0.5  -0.2 -3.10 -3.56  9.22   0.1  -2.3   0.5
8217  1.01 -1.46 -9.68  -1.5   0.0  -0.3 -3.09 -3.58  9.23   0.4  -2.1   0.5
8218  0.99 -1.40 -9.66  -1.0   0.0  -0.5 -3.08 -3.58  9.21   1.2  -1.6  -0.1
8219  1.01 -1.39 -9.65   1.1  -0.5  -0.2 -3.09 -3.58  9.24   0.7  -1.9   0.0
8220  1.02 -1.48 -9.69   1.6  -0.4  -0.4 -3.09 -3.55  9.29   1.5  -1.0   0.2

[8221 rows x 12 columns]

In [ ]:
FEATURES = ['MIN','MAX','MEAN','RMS','VAR','STD','POWER','PEAK','P2P','CREST FACTOR','SKEW','KURTOSIS']

def features_extraction(x): 
    
    
    Min=[];Max=[];Mean=[];Rms=[];Var=[];Std=[];Power=[];Peak=[];Skew=[];Kurtosis=[];P2p=[];CrestFactor=[];
    FormFactor=[]; PulseIndicator=[];
    
    X = x.values
    X_scaled = X
    ## TIME DOMAIN ##

    Min.append(np.min(X_scaled))
    Max.append(np.max(X_scaled))
    Mean.append(np.mean(X_scaled))
    Rms.append(np.sqrt(np.mean(X_scaled**2)))
    Var.append(np.var(X_scaled))
    Std.append(np.std(X_scaled))
    Power.append(np.mean(X_scaled**2))
    Peak.append(np.max(np.abs(X_scaled)))
    P2p.append(np.ptp(X_scaled))
    CrestFactor.append(np.max(np.abs(X))/np.sqrt(np.mean(X_scaled**2)))
    Skew.append(stats.skew(X_scaled))
    Kurtosis.append(stats.kurtosis(X_scaled))
    FormFactor.append(np.sqrt(np.mean(X_scaled**2))/np.mean(X_scaled))
    PulseIndicator.append(np.max(np.abs(X_scaled))/np.mean(X_scaled))
   
    #Create dataframe from features
    x_features = pd.DataFrame(index = [FEATURES], 
                               data = [Min,Max,Mean,Rms,Var,Std,Power,Peak,P2p,CrestFactor,Skew,Kurtosis])
    return x_features

In [ ]:
 # Import library
import requests, zipfile 
import io
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.fft import fft, fftfreq
features_extraction(x)

                                                              0
MIN                                                      -252.5
MAX                                                       267.2
MEAN                                                  -0.772627
RMS                                                   11.005292
VAR                                                  120.519503
STD                                                   10.978138
POWER                                                121.116455
PEAK                                                      267.2
P2P                                                       519.7
CREST FACTOR                                          24.279228
SKEW          [4.716158062943, 0.8131436896784776, 6.6800962...
KURTOSIS      [55.15682654874079, 3.081498444249341, 121.857...

In [ ]:
X = data1.iloc[:,0:-1]
y = data1.iloc[:,-1]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.2, random_state=0)

In [ ]:
models = []
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('DTC', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
# evaluate each model in turn
results = []
names = []
for name, model in models:
	kfold = StratifiedKFold(n_splits=10, random_state=None, shuffle=True)
	cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring='accuracy')
	results.append(cv_results)
	names.append(name)
	print('%s: %f (%f)' % (name, (cv_results.mean())*100, cv_results.std()))

LDA: 100.000000 (0.000000)
KNN: 100.000000 (0.000000)
DTC: 100.000000 (0.000000)
NB: 100.000000 (0.000000)

In [ ]:
apple_training_complete = x
apple_training_processed = x

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0, 1))

apple_training_scaled = scaler.fit_transform(apple_training_processed)

features_set = []
labels = []
for i in range(1000, 8221):
    features_set.append(apple_training_scaled[i-1000:i, 0])
    labels.append(apple_training_scaled[i, 0])

features_set, labels = np.array(features_set), np.array(labels)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [ ]:
model = Sequential()     
model.add(LSTM(units=100, return_sequences=True, input_shape=(features_set.shape[1], 1)))

In [ ]:
model.add(Dropout(0.2))
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(units=25, return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(units=50))
model.add(Dropout(0.2))

In [ ]:
model.add(Dense(units = 1))
model.compile(optimizer = 'adam', loss = 'mean_squared_error')
model.fit(features_set, labels, epochs = 1, batch_size = 32)

226/226 [==============================] - 520s 2s/step - loss: 0.0052